.preview {
    display: inline-block;
    width: 400px;
    min-height: 400px;
    background-color: rgb(211, 255, 255);
    box-sizing: border-box;
    vertical-align: top;
}

.pizza-base {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background-color: rgb(255, 172, 46);
    border: 16px solid rgb(255, 202, 133);
    border-radius: 50%;
}

.pepperoni {
    display: inline-block;
    position: absolute;
    background-color: rgb(211, 32, 0);
    border: 1px solid maroon;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.olive {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    border: 4px solid black;
    width: 14px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}