.checkout {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(145, 255, 145);
    padding: 6px 15px;
    font-size: 36px;
}

.checkout:hover {
    background-color: rgb(55, 255, 55);    
}

.checkout:active {
    background-color: rgb(0, 200, 0);    
}

.builder {
    width: 800px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

.total {
    display: block;
    padding: 12px;
    font-size: 30px;
}

.total span {
    font-size: 20px;
}