.controls {
    display: inline-block;
    background-color: rgb(142, 255, 151);
    width: 400px;
    padding: 16px 10px;
    box-sizing: border-box;
}

.control {
    display: block;
    background-color: rgb(0, 200, 0);
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.control span {
    font-size: 24px;
    display: block;
    padding-right: 12px;
    margin-bottom: 10px;
}

.control button {
    font-size: 20px;
    border: 3px solid rgb(0, 90, 0);
    background-color: rgb(0, 120, 0);
    padding: 3px 10px;
}

.control button.left {
    border-right: 1px solid black;
    border-radius:8px 0 0 8px;
}

.control button.right {
    border-radius: 0 8px 8px 0;
    border-left: 1px solid black;

}

.control button.middle {
    border-left-width: 1px;
    border-right-width: 1px;
}

.control button:disabled {
    background-color: lime;
    color: black;
    border-color: rgb(189, 255, 189);
}